#Password of user admin
ADMIN_PASS: password123

#Database password for the Telemetry service
CEILOMETER_DBPASS: password123

#Password of Telemetry service user ceilometer
CEILOMETER_PASS: password123

#Database password for the Block Storage service
CINDER_DBPASS: password123

#Password of Block Storage service user cinder
CINDER_PASS: password123

#Database password for the dashboard
DASH_DBPASS: password123

#Password of user demo
DEMO_PASS: password123

#DB_PASS: Root password for the database
ROOT_DBPASS: password123

#Database password for Image service
GLANCE_DBPASS: password123

#Password of Image service user glance
GLANCE_PASS: password123

#Database password for the Orchestration service
HEAT_DBPASS: password123

#Password of Orchestration domain
HEAT_DOMAIN_PASS: password123

#Password of Orchestration service user heat
HEAT_PASS: password123

#Database password of Identity service
KEYSTONE_DBPASS: password123

#Database password for the Networking service
NEUTRON_DBPASS: password123

#Password of Networking service user neutron
NEUTRON_PASS: password123

#Database password for Compute service
NOVA_DBPASS: password123

#Password of Compute service user nova
NOVA_PASS: password123

#Password of user guest of RabbitMQ
RABBIT_PASS: password123

#Password of Object Storage service user swift
SWIFT_PASS: password123

